# Quartus
fpga/intel/quartus/db/
fpga/intel/quartus/incremental_db/
fpga/intel/quartus/output_files/
fpga/intel/quartus/simulation/

fpga/intel/quartus/.qsys_edit/

*.qws
*.bak
*.rpt
*.o

# Questa
sim/questa/rtl_work/

# VS Code
.vscode
other/hexgen/.vscode

# Obsidian
docs/.obsidian

# Sigasi
.settings

# Claude (All code is handwritten, Claude used to generate changelogs)
.claude
CLAUDE.md

# Verilator
sim/verilator/obj_dir
*.vcd

# Misc
.DS_Store
other
compush.bat
compush.sh
