# Generated Quartus folders
fpga/intel/quartus/db/
fpga/intel/quartus/incremental_db/
fpga/intel/quartus/output_files/
fpga/intel/quartus/simulation/

.qsys_edit/

# Generated VS Code files
other/hexgen/

# Quartus backup/user setting files
*.qws
*.bak
*.rpt
*.o

# Other files
compush.bat